.Googlelogo{
    padding-top: 100px;
    height: 92px;
    width: 272px;
    margin-top: 89px;

}

.Textfield{
    margin-top: 25px;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 15px; 
    width: 450px;
    height: 15px;
    text-align: center;
    
}

button:focus {outline:0;}
input:focus {outline:0;}

.Buttons{
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    padding: 18px;
    width: 140px;
    height: 20px;
    background: whitesmoke;
    text-align: center;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(109, 107, 107);
    font-size: 15px;
    line-height: 0px;
    word-wrap: normal; 

}

.BorderLength{
    width: 155px;
    height: 20px;
}

button:hover {
    color: black;
    border-radius: 6px;
    border: 1px solid lightgray;
}